In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

df = pd.read_csv("C://Users//Administrator//.vscode//Module 5//574_m5_datasets_v3.0//Salaries.csv", low_memory=False)
print(df.head())

Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

In [2]:
#1
grouped_df = df.groupby(["Year"]).agg("sum").filter(["Year", "TotalPay"])
print(grouped_df.head())

total_pay_2011 = grouped_df.query("Year == 2011")["TotalPay"]
total_pay_2014 = grouped_df.query("Year == 2014")["TotalPay"]

total_change_2011_2014 = float(total_pay_2014) - float(total_pay_2011)

print("Total change from 2011 to 2014 is " + str(total_change_2011_2014))

TotalPay
Year
2011  2.594113e+09
2012  2.724736e+09
2013  2.918656e+09
2014  2.876911e+09
Total change from 2011 to 2014 is 282797920.53994226

In [3]:
#2
grouped_df_JobTitle = df.query("Year == 2014").groupby(
    ["JobTitle"]).agg("mean").filter(["JobTitle", "TotalPay"])

max_min_salary = grouped_df_JobTitle[grouped_df_JobTitle["TotalPay"]
                                     == grouped_df_JobTitle["TotalPay"].max()]
print("highest mean Salary job title is " + str(max_min_salary))

highest mean Salary job title is                           TotalPay
JobTitle
Chief Investment Officer  339653.7

In [4]:
#3
grouped_df_overTime = df.groupby(["Year"]).agg(
    "sum").filter(["OvertimePay"]).query("Year == 2014")

print(str(float(grouped_df_overTime["OvertimePay"])) +
      " money could have been saved in Year 2014 by stopping OverTimePay")

205918599.27000067 money could have been saved in Year 2014 by stopping OverTimePay

In [5]:
#4
grouped_df_5_common = df.groupby(["Year", "JobTitle"]).agg("count").filter(
    ["Year", "TotalPay", "JobTitle"]).query("Year == 2014").sort_values("TotalPay", ascending=False)

print(grouped_df_5_common.head(5))

TotalPay
Year JobTitle
2014 Transit Operator                  2479
     Special Nurse                     1478
     Registered Nurse                  1234
     Public Svc Aide-Public Works       916
     Firefighter                        815

In [ ]:
#5
grouped_df_5_top_earners = df.groupby(["Year", "TotalPay"]).agg(
    "max").filter(["Year", "TotalPay", "EmployeeName"])

print(grouped_df_5_top_earners.head())